<footer>
    <div class="footer-links">
        <a href="/">
            <span> Home </span>
        </a>
        <a href="/categories"><span> Categories </span></a>
        <a href="/items/new"><span>Add new item</span></a>
    </div>
</footer>
</html>
